<!-- Footer -->
<footer>
    <div class="container alt-font">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline" align="center">
                    <li>
                        <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#education">Education</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#experiences">Experiences</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
                <br>
        <div align="center" class="row">
            <p class="copyright text-muted small">Copyright &copy; {{ site.title }} 2019. All Rights Reserved.</p>
            <p class="copyright text-muted small">Last updated in April, 2019.</p>
        </div>
    </div>
</footer>
